.fire-money {
  position: relative;
  bottom: 60px;
}

.give-dat {
  height: 200px;
  animation: rotateY 10s linear infinite;
}

.green-money {
  position: relative;
  bottom: 30px;
}

.baby-dancy {
  position: absolute;
  top: 1vh;
  left: 60vw;
}

@keyframes rotateY {
  100% {
    transform: rotateY(720deg);
  }
}

.home-container {
  ul {
    list-style: none;
    padding: 0px;

    li {
      margin-bottom: 5px;
    }
  }

  ul li:before {
    content: "\2605";
    margin: 0 1em;
  }
}
