.gdimp {
  font-family: "Comic Sans MS", cursive, sans-serif;
  background: cyan; /* For browsers that do not support gradients */
  background: linear-gradient(to bottom right, red, orange , yellow, lightgreen, cyan, blue, violet); /* Standard syntax (must be last) */

  footer {
    font-family: "Papyrus", fantasy;
    font-weight: 800;
  }
}

@font-face {
  font-family: 'Canela';
  src: url('../../public/fonts/Canela-Medium-Trial.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.normal {
  background: #F5F2E6;
  font-family: 'Canela';

  footer {
    padding: 0 10px;

    .link-list {
      font-size: 15px;
    }
  }
}
