
.slogan {
  position: relative;
  height: 14vw;
}

.navigation-control {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1em;
}

.fa-map-pin {
  stroke: black;
  stroke-width: 20;
}

.travel-popup {
  max-width: 300px;
}

.travel-img {
  max-width: 280px;
}

.mapboxgl-popup-close-button {
  font-size: 25px;
}